# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List some popular languages used in data science
* List some commonly used libraries used by data scientists
* List some popular open source development environments used by data scientists

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy

|Data Science Tools|
|---|
|Jupyter Lab|
|Rstudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
 # This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Sander Salvet